In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df = pd.read_csv("Pandas_practice/pokemon_filtering/pokemon.csv")

In [5]:
df.head(3)

,abilities,against_bug,against_dark,against_dragon,against_electric,against_fairy,against_fight,against_fire,against_flying,against_ghost,...,percentage_male,pokedex_number,sp_attack,sp_defense,speed,type1,type2,weight_kg,generation,is_legendary
0,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,1,65,65,45,grass,poison,6.9,1,0
1,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,2,80,80,60,grass,poison,13.0,1,0
2,"['Overgrow', 'Chlorophyll']",1.0,1.0,1.0,0.5,0.5,0.5,2.0,2.0,1.0,...,88.1,3,122,120,80,grass,poison,100.0,1,0

In [6]:
df.columns

Index(['abilities', 'against_bug', 'against_dark', 'against_dragon',
       'against_electric', 'against_fairy', 'against_fight', 'against_fire',
       'against_flying', 'against_ghost', 'against_grass', 'against_ground',
       'against_ice', 'against_normal', 'against_poison', 'against_psychic',
       'against_rock', 'against_steel', 'against_water', 'attack',
       'base_egg_steps', 'base_happiness', 'base_total', 'capture_rate',
       'classfication', 'defense', 'experience_growth', 'height_m', 'hp',
       'japanese_name', 'name', 'percentage_male', 'pokedex_number',
       'sp_attack', 'sp_defense', 'speed', 'type1', 'type2', 'weight_kg',
       'generation', 'is_legendary'],
      dtype='object')

In [9]:
df.shape

(801, 41)

In [16]:
df.query('attack > 150').shape

(16, 41)

In [20]:
df.query('speed <= 10')[['name' , 'speed']]

          name  speed
212    Shuckle      5
327   Trapinch     10
437     Bonsly     10
445   Munchlax      5
596  Ferroseed     10
770  Pyukumuku      5

In [28]:
(df["sp_defense"] <= 25).sum()

np.int64(17)

In [30]:
df.loc[ df["sp_defense"] <= 25].shape

(17, 41)

In [32]:
df.info(4)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 801 entries, 0 to 800
Data columns (total 41 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   abilities          801 non-null    object
 1   against_bug        801 non-null    float64
 2   against_dark       801 non-null    float64
 3   against_dragon     801 non-null    float64
 4   against_electric   801 non-null    float64
 5   against_fairy      801 non-null    float64
 6   against_fight      801 non-null    float64
 7   against_fire       801 non-null    float64
 8   against_flying     801 non-null    float64
 9   against_ghost      801 non-null    float64
 10  against_grass      801 non-null    float64
 11  against_ground     801 non-null    float64
 12  against_ice        801 non-null    float64
 13  against_normal     801 non-null    float64
 14  against_poison     801 non-null    float64
 15  against_psychic    801 non-null    float64
 16  against_rock       801 non-null    float64
 17  against_steel      801 non-null    float64
 18  against_water      801 non-null    float64
 19  attack             801 non-null    int64
 20  base_egg_steps     801 non-null    int64
 21  base_happiness     801 non-null    int64
 22  base_total         801 non-null    int64
 23  capture_rate       801 non-null    object
 24  classfication      801 non-null    object
 25  defense            801 non-null    int64
 26  experience_growth  801 non-null    int64
 27  height_m           781 non-null    float64
 28  hp                 801 non-null    int64
 29  japanese_name      801 non-null    object
 30  name               801 non-null    object
 31  percentage_male    703 non-null    float64
 32  pokedex_number     801 non-null    int64
 33  sp_attack          801 non-null    int64
 34  sp_defense         801 non-null    int64
 35  speed              801 non-null    int64
 36  type1              801 non-null    object
 37  type2              417 non-null    object
 38  weight_kg          781 non-null    float64
 39  generation         801 non-null    int64
 40  is_legendary       801 non-null    int64
dtypes: float64(21), int64(13), object(7)
memory usage: 256.7+ KB

In [37]:
df.loc[df["type1"] == "fire" , ["name", "type1", "speed", "generation"]]

            name type1  speed  generation
3     Charmander  fire     65           1
4     Charmeleon  fire     80           1
5      Charizard  fire    100           1
36        Vulpix  fire     65           1
37     Ninetales  fire    109           1
57     Growlithe  fire     60           1
58      Arcanine  fire     95           1
76        Ponyta  fire     90           1
77      Rapidash  fire    105           1
125       Magmar  fire     93           1
135      Flareon  fire     65           1
145      Moltres  fire     90           1
154    Cyndaquil  fire     65           2
155      Quilava  fire     80           2
156   Typhlosion  fire    100           2
217       Slugma  fire     20           2
218     Magcargo  fire     30           2
239        Magby  fire     83           2
243        Entei  fire    100           2
249        Ho-Oh  fire     90           2
254      Torchic  fire     45           3
255    Combusken  fire     55           3
256     Blaziken  fire    100           3
321        Numel  fire     35           3
322     Camerupt  fire     20           3
323      Torkoal  fire     20           3
389     Chimchar  fire     61           4
390     Monferno  fire     81           4
391    Infernape  fire    108           4
466    Magmortar  fire     83           4
484      Heatran  fire     77           4
497        Tepig  fire     45           5
498      Pignite  fire     55           5
499       Emboar  fire     65           5
512      Pansear  fire     64           5
513     Simisear  fire    101           5
553     Darumaka  fire     50           5
554   Darmanitan  fire     55           5
630      Heatmor  fire     65           5
652     Fennekin  fire     60           6
653      Braixen  fire     73           6
654      Delphox  fire    104           6
661  Fletchinder  fire     84           6
662   Talonflame  fire    126           6
666       Litleo  fire     72           6
667       Pyroar  fire    106           6
720    Volcanion  fire     70           6
724       Litten  fire     70           7
725     Torracat  fire     90           7
726   Incineroar  fire     60           7
740     Oricorio  fire     93           7
775   Turtonator  fire     36           7

In [35]:
df.head(10)["type1"]

0    grass
1    grass
2    grass
3     fire
4     fire
5     fire
6    water
7    water
8    water
9      bug
Name: type1, dtype: object

In [38]:
from itertools import combinations